<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Target Actions</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmUpdateTarget">
            
            <div class="item label-fixed">
                <label>User<span style="color:red;">*</span></label>
                <input type="text" id="euser_option" name="euser_option" placeholder="Select Specific User" readonly>
                <input type="hidden" id="euser_option_id" name="euser_option_id">
                <input type="hidden" id="etarget_id" name="etarget_id">
            </div>
            <!--<div class="item label-fixed">
                <label>Category</label>
                <select name="etarget_category" id="etarget_category">
                </select>
            </div> -->
            <div class="item label-fixed">
                <label>Category</label>
                <input type="text" id="etarget_category" name="etarget_category" readonly>
                
            </div>
            <div class="item label-fixed">
                <label>Quantity (Kg)</label>
                <input type="number" id="etarget_qty" name="etarget_qty">
                
            </div>
            <!--<div class="item label-fixed">
                <label>Period</label>
                <select name="etarget_period" id="etarget_period">
                    <option value="Monthly">Monthly</option>
                </select>
            </div> -->
            <div class="item label-fixed">
                <label>Period</label>
                <input type="text" id="etarget_period" name="etarget_period" readonly>  
            </div>
            <div class="item label-fixed">
                <label>Comment</label>
                <textarea rows="4" id="etarget_comments" name="etarget_comments"></textarea>
            </div>
            
            <div class="item label-fixed">
                <!--<button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button class="red radius full" onclick="UpdateTarget()">Update Target</button>
            </div>
            
        </div>
        
        
    </div>
</div>