<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="stopBookingScanner()"></button>
        </div> 
        <h1 class="title align-center">Booking Barcode Scanner</h1>
        <div class="right">
            <button class="icon ion-trash-a" onclick="clearBookingScannedItems()"></button>
        </div>
    </div>
    <div class="content has-header">

        <div class="list white" style="height:226px;background:red;">
            
            
            
        </div>
        <div class="list grey-200" id="frmBookingBarcodeScanner">
            <div class="item tleft" style="padding:8px !important;">
              <h3 class="text-black text-strong" style="font-size:16px;">Total: </h3>
              <div class="right">
                <ul style="margin-right:20px;">
                    <li class="text-black text-strong" style="font-size:16px;">
                        <input type="text" style="font-weight: bold;" name="scannerTotal" id="scannerTotal" value="0" class="align-right" readonly/>
                    </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="bookingItems" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option}</h3>
              <p style="font-size:11px;">${price} x ${quantity}</p>
              <div class="right">
                <ul style="margin-right:20px;">
                    <li class="text-black text-strong" style="font-size:13px;margin-top: 5px;">${total}</li>
                </ul>
                <button class="icon ion-minus-round white" style="padding-right: 5px;padding-left: 5px;margin-right: 5px;" onclick="bookingMinus($$index)"></button>
                <button class="icon ion-trash-b red" style="padding-right: 10px;padding-left: 10px;margin-right: 5px;" onclick="deletePosItems($$index)"></button>
                <button class="icon ion-plus-round white" style="padding-right: 5px;padding-left: 5px;" onclick="bookingAdd($$index)"></button>
              </div>
            </div>
        </div>
        
    </div>
   <!--<button class="green circle icon ion-cash shadow float-bottom-right big" style="width:60px;height:60px;" onclick="posTransactionPay()"></button> -->
</div>