<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Bookings Report</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmBookingReport">
            <div class="item label-fixed">
                <label>Customer</label>
                <input type="text" id="customer_option" class="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('customerLocSearch')">
                <input type="hidden" id="customer_option_id" name="customer_option_id">
            </div>
            <div class="item label-fixed">
                <label>Item</label>
                <input type="text" id="item_option" name="item_option" placeholder="Select Item" onclick="openPage('searchItem')">
                <input type="hidden" id="item_option_id" name="item_option_id">
                <input type="hidden" id="booking_id" name="booking_id">
                <input type="hidden" id="booking_type" name="booking_type">
                <input type="hidden" id="mode_prices" name="mode_prices" value="1">
            </div>
            <div class="item label-fixed">
                <label>Booking Date<span style="color:red;">*</span></label>
                <input type="text" id="booking_date" class="setdefdate" name="booking_date" onclick="selectBookingReportDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="generateBookingsReport()">Generate</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:55%;overflow-y: scroll;">
            <div class="item tleft"  data="bookingsReportArray">
                <p><span class="text-strong">Created On:</span> ${pdate}</p>
                <p><span class="text-strong">Customer:</span> ${customername}</p>
                <p><span class="text-strong">Total:</span> ${ptotal}</p>
                <p><span class="text-strong">Payments:</span> <br>$$bookingPayments{payments}</p>
                <p><span class="text-strong">Items:</span> <br>$$bookingItems{pitems}</p>
                <!--<div class="right align-right text-small">
                  <ul>
                    <li class="text-green text-strong">${bat}</li>
                  </ul>
                </div>-->
              </div>

        </div>
        
    </div>
   
</div>