<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">View Customer Locations</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmCustomerLocationsRequest">
            <div class="item label-fixed">
                <label>Branch<span style="color:red;">*</span></label>
                <input type="text" id="branch_option" name="branch_option" placeholder="Select Branch" onclick="openPage('searchBranch')">
                <input type="hidden" id="branch_option_id" name="branch_option_id">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="getAllCustomerLocations()">View All</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button class="red radius full" onclick="getCustomerLocation()">View</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div><!-- histmapid -->
        <div class="list grey-200 " id="custlocmapid" style="height:60%;">
            

        </div>
        <div class="chartist-blue chartist-big text-black" id="chartist-strauss"></div>

            <div class="list">
                 <div class="item">
                    <h2>Count: <span class="text-strong" id="cusloccount"></span></h2>
                    
                </div>
            </div>
        
    </div>
   
</div>