<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">History Report</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmHistoryReport">
            <div class="item label-fixed">
                <label>User</label>
                <input type="text" id="user_option" name="user_option" placeholder="Select Specific User" onclick="openPage('searchUser')">
                <input type="hidden" id="user_option_id" name="user_option_id">
            </div>
            <div class="item label-fixed">
                <label>Date</label>
                <input type="date" id="user_date" name="user_date" placeholder="Start Date">
            </div>
            <div class="item label-fixed">
                 <button class="red radius full" onclick="getHistoryReport()">View</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div><!-- histmapid  -->
         <div class="list grey-200 " style="height:60%;overflow-y: scroll;">
            <div class="item tleft"  data="historyReportArray">
                <div class="left">
                  <div class="icon-circle text-black border-black">
                    <i class="icon ion-person"></i>
                  </div>
                </div>
                <p>Time: ${server_time}</p>
                <p>Battery: ${bat}%</p>
                <p>${address}</p>
                <!--<div class="right align-right text-small">
                  <ul>
                    <li class="text-green text-strong">${bat}</li>
                  </ul>
                </div>-->
              </div>

        </div>
        
    </div>
   
</div>