<div class="page">
  <div class="header red">
  <div class="left">
    <!--<button class="icon ion-navicon-round"></button>-->
  </div>
  <h1>Sales Modules</h1>
  <div class="right">
    <button class="icon ion-gear-a" onclick="openPopover('popover1')"></button>
  </div>
</div>
  <div class="content has-header white">
    <div class="space"></div>
    <div class="row-around">
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('order-entry')">
        <i class="icon ion-ios-list-outline"></i></br></br>
         Order Entry
      </div>
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('customer-payment')">
        <i class="icon ion-cash"></i></br></br>
        Customer Payment
      </div>
    </div>
    <div class="space"></div>
    <div class="row-around">
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('sales-expenses')">
        <i class="icon ion-pricetags"></i></br></br>
        Sales Expenses
      </div>
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('sales-target')">
        <i class="icon ion-connection-bars"></i></br></br>
        Sales Target
      </div>
    </div>
    <div class="space"></div>
    <div class="row-around">
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('task')">
        <i class="icon ion-compose"></i></br></br>
        Task
      </div>
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('location')">
        <i class="icon ion-android-locate"></i></br></br>
        Location
      </div>
    </div>
    <div class="space"></div>
    <div class="row-around">
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('customer-add')">
        <i class="icon ion-person-add"></i></br></br>
        Customer Add
      </div>
      <div class="col-34 grey-300 smalltxt" onclick="dashMenuClick('pos')">
        <i class="icon ion-social-usd-outline"></i></br></br>
        POS
      </div>
    </div>
    
  </div>
</div>

        
