<div class="page grey-200">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Reports Filter</h1>
        <div class="right">
                <button class="icon ion-ios-refresh-empty" onclick="loadMpesaTransaction()"></button>
            </div>
    </div>
  <div class="content has-header">
    <div class="list white" id="formReportsFilter">
          
            <!--<input type="text" id="mpesasearch" placeholder="Enter Name..." onkeyup='autochangedMp()'>-->
      <div class="item">
        <select id="rtype" name="rtype">
          <option value="4">SALESPERSON DETAILED</option>
          <option value="5">SALESPERSON SUMMARY</option>
          <option value="6">USER DETAILED</option>
          <option value="7">USER SUMMARY</option>
        </select>
      </div>
      <div class="item">
        <select id="rsalesperson" name="rsalesperson">
          <option value="0">All</option>
        </select>
      </div>
      <div class="item label-fixed">
          <label>From: <span style="color:red;">*</span></label>
          <input type="text" id="from_date" class="setdefdate" name="from_date" onclick="selectReportFilterDatePicker()" readonly>
      </div>
      <div class="item label-fixed">
               <button class="red radius full" onclick="genReport()">Generate</button>
          </div>
    </div>

    <div class="list grey-200 " style="height:55%;overflow-y: scroll;">
        <div class="item tleft"  data="reportFilterArray">
            <p><span class="text-strong">Created On:</span> ${pdate}</p>
            <p><span class="text-strong">Total:</span> ${ptotal}</p>
            <p><span class="text-strong">Payments:</span> <br>$$bookingPayments{payments}</p>
            <p><span class="text-strong">Items:</span> <br>$$bookingItems{pitems}</p>
            <!--<div class="right align-right text-small">
              <ul>
                <li class="text-green text-strong">${bat}</li>
              </ul>
            </div>-->
          </div>

    </div>
    
  </div>
</div>