<div class="page white">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Specific Report</h1>
        <!--<div class="right">
                <button class="icon ion-ios-refresh-empty" onclick="reLoadSpecReport()"></button>
            </div>-->
    </div>
  <div class="content has-header">

    <div class="header sub grey-200 align-center">
      <h1 class="text-blue" id="sprepHdate"></h1>
    </div>

    <p class="text-blue text-big">Sales Summary</p>
    
    <div class="row padding" >
      <div class="col-50" style="margin-top:10px;">
        <h1 class="text-strong text-big" id="ttItems"></h1>
        <p>Items</p>
      </div>
      <div class="col-50" style="margin-top:10px;">
        <h1 class="text-strong text-big" id="ttTotal"></h1>
        <p>Total</p>
      </div>
    </div>

    <div class="list grey-200" data="specReportData" style="height:70%;overflow-y: scroll;">
      <div class="item tleft">
        <h2 class="text-strong">${description}</h2>
        <p>Total Quantity:</p>
        <p>Total Amount:</p>
        <div class="right align-right text-small">
          <ul>
            <li class="text-strong" style="visibility: hidden;">${rqty}</li>
            <li class="text-strong">${rqty}</li>
            <li class="text-strong">${ramount}</li>
          </ul>
        </div>

      </div>
    </div> 
  </div>
</div>