<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Targets Module</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" onclick="openTargetsModule()">
            <i class="icon ion-stats-bars"></i></br></br>
             Target Dashboard
          </div>
          <div class="col-34 grey-300 smalltxt" onclick="openPage('customer-visit')">
            <i class="icon ion-cube"></i></br></br>
            Customer Visit
          </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" id="salestargetmenu" onclick="openPage('sales-target')">
            <i class="icon ion-cash"></i></br></br>
             Set Target 
          </div>
          <div class="col-34 grey-300 smalltxt" style="visibility: hidden;">
            <i class="icon ion-cube"></i></br></br>
            Customer Visit
          </div>
        </div>
        
        
    </div>
   
</div>