<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Tasks Module</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
          <div class="col-34 grey-300 smalltxt" onclick="openPage('assign-task')">
            <i class="icon ion-ios-list-outline"></i></br></br>
             Assign Task
          </div>
          <div class="col-34 grey-300 smalltxt" onclick="openPage('action-task')" style="visibility: :hidden;">
            <i class="icon ion-gear-a"></i></br></br>
            Task Action
          </div>
        </div>
        
        
        
    </div>
   
</div>