<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Production Listing</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmWorkOrderProduction">
            
            <div class="item label-fixed">
                <label>Start Date<span style="color:red;">*</span></label>
                <input type="text" id="start_date" name="start_date" onclick="selectWorkOrderStartDate()" readonly>
            </div>
            <div class="item label-fixed">
                <label>End Date<span style="color:red;">*</span></label>
                <input type="text" id="end_date" name="end_date" onclick="selectWorkOrderEndDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" id="genorderrepbtn" onclick="generateWorkOrderProductionReport()">Generate</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="red radius full" id="genorderrepbtn" onclick="generateWorkOrderProductionReportPDF()">PDF</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:100%;overflow-y: scroll;">
            <div class="item tleft"  data="workOrderProductionReportArray" >
                <p><span class="text-strong">Count:</span> ${count}</p>
                <p><span class="text-strong">Stock ID:</span> ${stock_id}</p>
                <p><span class="text-strong">Description:</span> ${description}</p>
              </div>

        </div>
        
    </div>
</div>