<div class="page grey-100">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Confirm Produce: <span id="cwoidh"></span></h1>
        
    </div>
    <div class="content has-header">

        <div class="list white" id="frmAdvManufactureProduceMain"> 
            <div class="item label-fixed">
                <label>Main Item<span style="color:red;">*</span></label>
                <input type="text" id="cmain_item" name="cmain_item" readonly>
            </div>
            <div class="item label-fixed">
                <label>Main Quantity<span style="color:red;">*</span></label>
                <input type="number" id="cmain_quantity" name="cmain_quantity" min="1" value="1" placeholder="Quantity">
            </div> 
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <h1 class="text-bold">Other End Products</h1>
        <div class="list white" id="frmAdvManufactureProduce">    
            <div class="item label-fixed">
                 <button class="red radius full" onclick="confirmSaveAdvManuProduce()">Confirm</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="advManuProdItems" style="padding:8px !important;">
              <h3 style="font-size:13px;">${item_option} : ${item_option_id}</h3>
              <p style="font-size:11px;">x ${quantity}</p>
            </div>
        </div>
        
    </div>
   
</div>