<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Customer Payment Report</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmCustomerPaymentReport">
            <div class="item label-fixed">
                <label>Customer</label>
                <input type="text" id="customer_option" class="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('customerLocSearch')">
                <input type="hidden" id="customer_option_id" name="customer_option_id">
            </div>
            <div class="item label-fixed">
                <label>Mode Of Payment</label>
                <select name="mode_payment" id="mode_payment">
                	<option value="0">Select Payment Mode</option>
                    <option value="1">Mpesa</option>
                    <option value="2">Cheque</option>
                    <option value="3">Cash</option>
                    <option value="4">Direct Deposit</option>
                </select>
            </div>
            <div class="item label-fixed">
                <label>Payment Date<span style="color:red;">*</span></label>
                <input type="text" id="rpayment_date" class="setdefdate" name="rpayment_date" onclick="selectCusPayReportDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="generateCustomerPaymentReport()">Generate</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:55%;overflow-y: scroll;">
            <div class="item tleft"  data="customerPaymentReportArray">
                <p><span class="text-strong">Created On:</span> ${add_date}</p>
                <p><span class="text-strong">Payment Date:</span> ${payment_date}</p>
                <p><span class="text-strong">Customer:</span> ${customer_option}</p>
                <p><span class="text-strong">Payment Mode:</span> $$paymentMode{mode_payment}</p>
                <p><span class="text-strong">Amount:</span> ${amount}</p>
                <p><span class="text-strong">Reference:</span> ${reference}</p>
            </div>

        </div>
        
    </div>
   
</div>