<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Dairy</h1>
        <div class="right">
            <button class="icon ion-document-text" onclick="openPage('myDairyEntries',{}, getMyDairyEntries)"></button>
            <button class="icon ion-ios-gear-outline" onclick="openPage('pairing',{}, getBlutoothPairedDevices)"></button>
        </div>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmDairy">  
            <div class="item label-fixed">
                <label id="grader">GRADER 0</label>
                <select name="time" id="time" style="background:#c0c0c0;">
                   <option value="0">MORNING</option>
                   <option value="1">EVENING</option>
                </select>
            
            </div> 
            <div class="item label-fixed">
                <select name="route" id="route">
                   <option value="0">Select Route</option>
                </select>
            
            </div>   
            <div class="item icon ion-search">
                <input type="text" id="farmer_option" name="farmer_option" placeholder="Select Farmer" onclick="openPage('searchFarmer')">
                <input type="hidden" id="farmer_option_id" name="farmer_option_id">
                <input type="hidden" id="mode_prices" name="mode_prices" value="1">
            </div>
            <div class="item label-fixed">
                <div class="left">
                    <label>Member No:</label>
                </div>
                
                <div class="right">
                    <label id="memberNo">0</label>
                </div>
            </div>
            <div class="item label-fixed">
                
              <div class="left">
                <button class="brown border-brown-800 text-brown-50 radius icon-text small" onclick="readWeighingScale()">
                  <i class="icon ion-ios-settings-strong"></i>
                  &nbsp;&nbsp;Weigh&nbsp;&nbsp;
                </button>
              </div>
              <div class="right">
                <label id="weighingRes" class="red" style="padding-top:4px;padding-bottom:4px;">0.0</label>
              </div>
                 
            </div>
            <div class="item label-fixed"> 
                <div class="left">
                    <button class="blue border-blue-800 text-blue-50 radius icon-text small" onclick="printDairyCollectionReceipt()">
                        <i class="icon ion-android-print"></i> 
                        &nbsp;&nbsp;RePrint Receipt&nbsp;&nbsp;
                    </button>
                </div>

                <div class="right">
                    <button class="blue border-blue-800 text-blue-50 radius icon-text small" onclick="dairyCollectionPdf()"> 
                        <i class="icon ion-document-text"></i> 
                        &nbsp;&nbsp;Generate PDF&nbsp;&nbsp;
                    </button>
                </div>
            
            </div>
            <div class="item label-fixed">
                <button id="btnCollectMilk" class="red radius full" onclick="collectMilk()">Save</button>
            </div>
            <div id="collected"></div>
            
        </div>
        
    </div>
   
</div>