<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Add General Notes</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmGeneralNotes">
            
             <div class="item label-fixed">
                <label>Customer<span style="color:red;">*</span></label>
                <input type="text" id="gen_customer_option" name="gen_customer_option" placeholder="Enter Customer" >
            </div>
            <div class="item label-fixed">
                <label>Notes<span style="color:red;">*</span></label>
                <textarea rows="4" id="gen_notes" name="gen_notes"></textarea>
            </div>
            <div class="item label-fixed">
                <!--<button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button id="btnGenNotes" class="red radius full" onclick="saveGeneralNotes()">Save</button>
            </div>
            
        </div>
        <div class="item grey-200" style="padding-top:10px;padding-bottom:10px;">
          <h1 class="text-strong">My General Notes</h1>
        </div>
        <div class="list white" style="height:50%;overflow-y: scroll;">
            <div class="item tleft"  data="generalNotesArray">
                <h2><i class="icon ion-ios-time-outline"></i>${trans_time}</h2>
                <p><i class="icon ion-person-stalker"></i>${cust_name}</p>
                <p><i class="icon ion-clipboard"></i>${notes}</p>
                <p class="text-grey"><i class="icon ion-ios-location-outline red"></i>${address}</p>
                
              </div>

        </div>
        
    </div>
</div>