<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Location</h1>
    </div>
    <div class="content has-header">
        <div class="space"></div>
        <div class="row-around">
              <div class="col-34 grey-300 smalltxt" id="on-view" onclick="dashMenuClick('on-view')">
                <i class="icon ion-ios-list-outline"></i></br></br>
                 On View
              </div>
              <div class="col-34 grey-300 smalltxt" id="on-map" onclick="dashMenuClick('on-map')">
                <i class="icon ion-cash"></i></br></br>
                On Map
              </div>
        </div>
        <div class="space"></div>
        <div class="row-around">
              <div class="col-34 grey-300 smalltxt" id="history-map" onclick="dashMenuClick('history-map')">
                <i class="icon ion-ios-list-outline"></i></br></br>
                 History on Map
              </div>
              <div class="col-34 grey-300 smalltxt" id="history-report" onclick="dashMenuClick('history-report')">
                <i class="icon ion-cash"></i></br></br>
                History Report
              </div>
        </div>

        <div class="space"></div>
        <div class="row-around">
              <div class="col-34 grey-300 smalltxt" id="loccustomer" onclick="dashMenuClick('loccustomer')">
                <i class="icon ion-ios-list-outline"></i></br></br>
                 Set Customer Location
              </div>
              <div class="col-34 grey-300 smalltxt" id="view-loccustomers" onclick="dashMenuClick('view-loccustomers')">
                <i class="icon ion-cash"></i></br></br>
                View Customer Locations
              </div>
        </div>
        <div class="space"></div> 
        <div class="row-around">
              <div class="col-34 grey-300 smalltxt" id="customer-notes" onclick="dashMenuClick('customer-notes')">
                <i class="icon ion-ios-list-outline"></i></br></br>
                 Customer Notes
              </div>
              <div class="col-34 grey-300 smalltxt" id="general-notes" onclick="dashMenuClick('general-notes')">
                <i class="icon ion-ios-list-outline"></i></br></br>
                General Notes
              </div>
        </div>

    </div>
</div>