<div class="page">
  <div class="horizontal-align-center vertical-align-center align-center">
    <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <p class="text-black">WELCOME TO</p>
      <h1 id="titleDiscoveryNow" class="text-red-800">DigiSales</h1>
      <p class="text-black">For all your sales needs</p>
      <div class="space"></div>
      <div class="space"></div>
      
          <div class="list no-border">
            <div class="item icon ion-android-mail border-grey border-bottom">
              <input class="placeholder-black text-black" id="username" type="text" placeholder="Enter your username">
            </div>
            <div class="item icon ion-android-lock border-grey border-bottom">
              <input class="placeholder-black text-black" id="password" type="password" placeholder="Enter your password">
            </div>
            <div class="item icon ion-android-lock border-grey border-bottom">
                <select name="company" id="company" placeholder="Select Company">
                   <!-- <option value="0_">Joy Millers Ltd</option>
                    <option value="1_">JoyMax Holdings Ltd</option> -->
                </select>
            
            </div>

            <div class="item">
              <p class="left text-black">Forgot Password?</p>
            </div>

            <div class="item">
              <button class="border-red text-white red full" onclick="login()">LOGIN</button>
            </div>

            <div class="item">
              <button id="exitsitebtn" class="border-red text-white red full" onclick="sitelogout()">EXIT SITE</button>
            </div>

          </div>
          
          
       
    
  </div>
</div>

        
