<div class="page grey-200">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Mpesa Transactions</h1>
        <div class="right">
                <button class="icon ion-ios-refresh-empty" onclick="loadMpesaTransaction()"></button>
            </div>
    </div>
  <div class="content has-header">
    <div class="list white" id="formMpesaSearch">
          <div class="item icon ion-search">
            <input type="text" id="mpesasearch" placeholder="Enter Name..." onkeyup='autochangedMp()'>
            <input type="hidden" id="mtransId" name="mtransId">
            <input type="hidden" id="mtransIdRef" name="mtransIdRef">
          </div>
    </div>
    <div id="mpesaTransactionList" style="overflow-y:scroll;height:80%;">
      <div class="list" data="mpesaArraySearch">
        <div class="item tleft" onclick="openPage('mpesaPayment',{name:'${name}', TransID: '${TransID}', TransAmount: '${TransAmount}', Auto: '${Auto}', TransTime: '${TransTime}', MSISDN: '${MSISDN}', Transtype: 'MPESA'}, setMpesaValues)">
          <h4>${name}</h4>
          <p>${MSISDN}</p>
          <p style="font-weight: bold;">${TransID}</p>
          <p>${TransTime}</p>
          <div class="right" style="font-weight: bold;">
            ${TransAmount}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>