<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center"><span id="specuser"></span> History</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmOnMapUser">
            
            <div class="item label-fixed">
                <label>Date</label>
                <input type="text" class="setdefdate" id="user_date_option" name="user_date_option" onclick="onviewdatedef()" readonly>
                <input type="hidden" id="user_id_option" name="user_id_option" >
            </div>

            <div class="item label-fixed">
                 <button class="red radius full" id="viewonmapuserbtn" onclick="getOnMapUserHistory()">View</button>
            </div>
            
        </div>
        <div class="item text-red hidden grey-200" id="messageValidation">
          <p>
            <i class="icon ion-alert-circled"></i> An Error Occured.
          </p>
        </div>
        <div class="list grey-200 " id="onmapuserid" style="height:70%;">
            

        </div>
        
    </div>
   
</div>