<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Order Status</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmOrderStatus">
            
             <div class="item label-fixed">
                <label>Salesperson<span style="color:red;">*</span></label>
                <!-- <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="alertCustomerForm()"> -->
                <input type="text" id="saleperson_option" name="saleperson_option" placeholder="Select Salesperson" onclick="openPage('searchSalesperson')">
                <input type="hidden" id="saleperson_option_id" name="saleperson_option_id">
            </div>
            <div class="item label-fixed">
                <label>Status<span style="color:red;">*</span></label>
                <select name="order_status" id="order_status">
                    <option value="1">All</option>
                    <option value="2">Pending</option>
                    <option value="3">Processed</option>
                </select>
            </div>
            <div class="item label-fixed">
                <label>Start Date<span style="color:red;">*</span></label>
                <input type="date" class="setdefdate" id="start_date" name="start_date" placeholder="Start Date">
            </div>
            <div class="item label-fixed">
                <label>End Date<span style="color:red;">*</span></label>
                <input type="date" class="setdefdate" id="end_date" name="end_date" placeholder="End Date">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" id="genorderrepbtn" onclick="generateOrder()">Generate</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="red radius full" id="genorderreppdfbtn" onclick="generateOrderPDF()">PDF</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:100%;overflow-y: scroll;">
            <div class="item tleft"  data="orderReportArray" onclick="openPage('orderDetails', {details: '$$escapePosVals{items}'}, detailsAddOrder)">
                <p><span class="text-strong">Order No:</span> ${order_no}</p>
                <p><span class="text-strong">Reference:</span> ${reference}</p>
                <p><span class="text-strong">Name:</span> ${name}</p>
                <p><span class="text-strong">Order Date:</span> ${ord_date}</p>
                <p><span class="text-strong">Delivery Date:</span> ${delivery_date}</p>
                <p><span class="text-strong">Order Value:</span> ${OrderValue}</p>
                <p><span class="text-strong">Quantity:</span> ${TotQuantity}</p>
                <p><span class="text-strong">Delivered:</span> ${TotDelivered}</p>
                <!--<div class="right align-right text-small">
                  <ul>
                    <li class="text-green text-strong">${bat}</li>
                  </ul>
                </div>-->
              </div>

        </div>
        
    </div>
</div>