<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Stock Take Report</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmStockTake">
            
            <div class="item label-fixed">
                <label>Start Date<span style="color:red;">*</span></label>
                <input type="text" id="start_date" name="start_date" onclick="selectWorkOrderStartDate()" readonly>
            </div>
            <div class="item label-fixed">
                <label>End Date<span style="color:red;">*</span></label>
                <input type="text" id="end_date" name="end_date" onclick="selectWorkOrderEndDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" id="genorderrepbtn" onclick="generateStockTakeReport()">Generate</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:100%;overflow-y: scroll;">
            <div class="item tleft"  data="stockTakeReportArray" onclick="openPage('stockTakeReportDetails',{id:'${stock_take_id}', sdate:'${trans_date}'}, stockTakeDetailsc)" >
                <p><span class="text-strong">Stock Take ID:</span> ${stock_take_id}</p>
                <p><span class="text-strong">Description:</span> ${description}</p>
                <p><span class="text-strong">Quantity:</span> ${quantity_after}</p>
                <p><span class="text-strong">Date:</span> ${trans_date}</p>
              </div>

        </div>
        
    </div>
</div>