<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Stock Requisition Approval</h1>
    </div>
    <div class="content has-header">
         <div class="list grey-200 " style="height:98%;overflow-y: scroll;">
            <div class="item tleft"  data="stockRequisitionApprovalArray">
                <p>ID: ${id}</p>
                <p>Date: ${request_date}</p>
                <p>Origin: ${origin_store_name}</p>
                <p>Destination: ${dest_store_name}</p>
                <p>User: ${user_name}</p>
                <div class="row">
                  <div class="col">
                    <button class="blue" style="width: 100%;margin-right: 5px;" onclick="stockApproveView($$index)">View</button>
                  </div>
                  <!--<div class="col">
                    <button class="blue" style="width: 90%;margin-left: 5px;" onclick="stockApprove($$index)">Approve</button>
                  </div>-->
                </div>
              </div>

        </div>
        
    </div>
   
</div>