<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Work Order Listing</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmWorkOrder">
            
            <div class="item label-fixed">
                <label>Start Date<span style="color:red;">*</span></label>
                <input type="text" id="start_date" name="start_date" onclick="selectWorkOrderStartDate()" readonly>
            </div>
            <div class="item label-fixed">
                <label>End Date<span style="color:red;">*</span></label>
                <input type="text" id="end_date" name="end_date" onclick="selectWorkOrderEndDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" id="genorderrepbtn" onclick="generateWorkOrderReport()">Generate</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:100%;overflow-y: scroll;">
            <div class="item tleft"  data="workOrderReportArray" >
                <p><span class="text-strong">ID:</span> ${id}</p>
                <p><span class="text-strong">Reference:</span> ${wo_ref}</p>
                <p><span class="text-strong">Location:</span> ${location_name}</p>
                <p><span class="text-strong">Description:</span> ${description}</p>
                <p><span class="text-strong">Units Requested:</span> ${units_reqd}</p>
                <p><span class="text-strong">Units Issued:</span> ${units_issued}</p>
                <p><span class="text-strong">Date:</span> ${date_}</p>
              </div>

        </div>
        
    </div>
</div>