<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Task Actions</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmUpdateTasks">
            
            <div class="item label-fixed">
                <label>User<span style="color:red;">*</span></label>
                <input type="text" id="euser_option" name="euser_option" placeholder="Select Specific User" readonly>
                <input type="hidden" id="euser_option_id" name="euser_option_id">
                <input type="hidden" id="etask_id" name="etask_id">
            </div>
            <div class="item label-fixed">
                <label>Date<span style="color:red;">*</span></label>
                <input type="text" id="etask_date" name="etask_date" class="setdefdate" placeholder="Task Date" onclick="selectDate()" readonly>
            </div>
            <div class="item label-fixed">
                <label>Task<span style="color:red;">*</span></label>
                <textarea rows="4" id="etask_info" name="etask_info"></textarea>
            </div>
            <div class="item label-fixed">
                <label>Prev Comment<span style="color:red;">*</span></label>
                <textarea rows="4" id="etask_prevcomments" name="etask_prevcomments" disabled></textarea>
            </div>
            <div class="item label-fixed">
                <label>Comment<span style="color:red;">*</span></label>
                <textarea rows="4" id="etask_comments" name="etask_comments"></textarea>
            </div>
            
            <div class="item label-fixed">
                <!--<button class="red radius full" onclick="getCustomerCurrentLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button class="red radius full" onclick="UpdateTask()">Update Task</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button class="green radius full" onclick="completeTask()">Close Task</button>
            </div>
            
        </div>
        
        
    </div>
</div>