<div class="page grey-200">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Credit Notes</h1>
        <!--<div class="right">
                <button class="icon ion-ios-refresh-empty" onclick="loadCreditNotes()"></button>
            </div> -->
    </div>
  <div class="content has-header">
    <div class="list white" id="formCreditNote">
          <!--<div class="item icon ion-search">
            <input type="text" id="mpesasearch" placeholder="Enter Name..." onkeyup='autochangedMp()'>
            <input type="hidden" id="mtransId" name="mtransId">
            <input type="hidden" id="mtransIdRef" name="mtransIdRef">
          </div> -->
          <div class="item label-fixed">
              <label>Customer<span style="color:red;">*</span></label>
              <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="openPage('customerLocSearch')">
              <input type="hidden" id="customer_option_id" name="customer_option_id">
          </div>

          <div class="item label-fixed">
            <button id="btnGetCreditNotes" class="red radius full" onclick="loadCreditNotes()">Fetch</button>
          </div>
    </div>
    <div id="creditNoteList" style="overflow-y:scroll;height:80%;">
      <div class="list" data="creditNoteArraySearch">
        <div class="item tleft" onclick="openPage('creditNotePayment2',{name:'${trans_no}', TransID: '${trans_no}', TransAmount: '${ov_amount}', Auto: '${trans_no}', TransTime: '${tran_date}', MSISDN: '${trans_no}', Transtype: 'CREDIT-NOTE'}, setMpesaValues)">
          <h4><i class="icon ion-cash"></i>&nbsp;&nbsp;&nbsp;${ov_amount}</h4>
          <p><i class="icon ion-ios-grid-view-outline"></i>&nbsp;&nbsp;&nbsp;${trans_no}</p>
          <p><i class="icon ion-ios-time-outline"></i>&nbsp;&nbsp;&nbsp;${tran_date}</p>
        </div>
      </div>
    </div>
  </div>
</div>