<div class="page grey-200">
    
    <div class="list white" id="formCustomerSearch2">
        <div class="item icon ion-search">
          <input type="text" id="cussearch" placeholder="Enter Customer Name..." >
        </div>
        <div class="item">
          <button id="sCustomer" class="orange-900 radius full" onclick="autochangedd2New()">Search</button>
        </div>
  </div>

  <div id="listProfileGitHub2" style="overflow-y:scroll;height:90%;">
    <div class="list" data="customersArraySearch2">
      <div class="item" onclick="getCustomer2('$$escapePosVals{branch_ref}','${branch_code}','${lat}','${lon}')">
        <h3>${br_name}</h3>
      </div>
    </div>
  </div>
</div>