<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Manage Orders</h1>
    </div>

    <div class="hidden" id="actions-dialog">
        <div class="list" id="frmOrdAction">

            <div class="item">
                <div class="left">
                    <input type="radio" name="ordaction" id="cancel" class="red" onclick="actionSelected('cancel')">
                    
                </div>
                <h2>Cancel Order</h2>
                
            </div>

            <div class="item">
                <div class="left">
                    <input type="radio" name="ordaction" id="invoice" class="red" onclick="actionSelected('invoice')">
                </div>
                <h2>Invoice Order</h2>
            </div>
            
        </div>
    </div>

    <div class="content has-header">

        <div class="list" id="frmManageOrders">
            
            <div class="item label-fixed">
                <label>Start Date<span style="color:red;">*</span></label>
                <input type="text" class="setdefdate" id="start_date" name="start_date" placeholder="Start Date" onclick="selectManageOrdersDateFrom()">
            </div>
            <div class="item label-fixed">
                <label>End Date<span style="color:red;">*</span></label>
                <input type="text" class="setdefdate" id="end_date" name="end_date" placeholder="End Date" onclick="selectManageOrdersDateTo()">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" id="genorderrepbtn" onclick="getManageOrders()">Generate</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:70%;overflow-y: scroll;">
            <div class="item tleft"  data="orderReportArray" onclick="orderMangementOptions('${order_no}')">
                <p><span class="text-strong">Order No:</span> ${order_no}</p>
                <p><span class="text-strong">Reference:</span> ${reference}</p>
                <p><span class="text-strong">Name:</span> ${name}</p>
                <p><span class="text-strong">Order Date:</span> ${ord_date}</p>
                <p><span class="text-strong">Delivery Date:</span> ${delivery_date}</p>
                <p><span class="text-strong">Order Value:</span> ${OrderValue}</p>
                <p><span class="text-strong">Quantity:</span> ${TotQuantity}</p>
                <p><span class="text-strong">Delivered:</span> ${TotDelivered}</p>
                
              </div>

        </div>
        
    </div>
</div>