<div class="page padding grey-200">
  <div class="padding border-grey-400 shadow radius white">
      <button class="icon ion-ios-arrow-back white" style="position: absolute;top: auto;left: 15px;" onclick="backPage()"></button>
      <button class="icon ion-navicon-round white text-grey-400" style="visibility: hidden;"></button>
      <button class="icon ion-android-print white text-grey-400" style="font-size:40px;" onclick="reprintPOSReceipt()"></button>
      <div class="right">
        <button class="small white text-grey-400" id="cdtimepos"></button>
      </div>
  </div>
  <div class="space"></div>
  <div class="padding border-grey-400 shadow radius white">
      <h2 id="cname"></h2>
      <p>Served By: <span id="servedby"></span></p>
      <p>Reference: <span id="posRef"></span></p>
  </div>
  <div class="space"></div>
  <div class="list shadow radius white">
      <div class="item tleft">
        <h2>ITEMS</h2>
      </div>
     
      <div class="item tleft grey-200" data="posTransactionsArraySearchItems" style="padding:8px !important;">
          <h3 style="font-size:13px;">${item_option}</h3>
          <p style="font-size:11px;">${price} x ${quantity}</p>
          <div class="right">
            <ul style="margin-right:20px;">
                <li class="text-black text-strong" style="font-size:13px;">${total}</li>
            </ul>
          </div>
      </div>
      <div class="space"></div>

      <div class="item tleft">
        <h2>PAYMENTS</h2>
      </div>

      <div class="item tleft grey-200" data="posTransactionsArraySearchPayments">
        <h3 class="text-black" style="font-size:14px !important;">${Transtype}: ${TransID} </h3>
        <div class="right" style="margin-right: 0;">
          <ul style="margin-right:30px;">
              <li class="text-black" style="font-size:14px !important;" >${TransAmount}</li>
          </ul>
        </div>
      </div>
     
  
  </div>
</div>