<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Sales Expenses Report</h1>
    </div>
    <div class="content has-header">

        <div class="list white" id="frmSalesExpensesReport">
            <div class="item label-fixed">
                <label>Customer</label>
                <input type="text" id="sales_description" name="sales_description" placeholder="Sales Description">
            </div>
            <div class="item label-fixed">
                <label>Payment Date<span style="color:red;">*</span></label>
                <input type="text" id="spayment_date" class="setdefdate" name="spayment_date" onclick="selectSalesExpensesReportDate()" readonly>
            </div>
            <div class="item label-fixed">
                <button class="red radius full" onclick="generateSalesExpensesReport()">Generate</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:55%;overflow-y: scroll;">
            <div class="item tleft"  data="salesExpensesReportArray">
                <p><span class="text-strong">Created On:</span> ${add_date}</p>
                <p><span class="text-strong">Payment Date:</span> ${payment_date}</p>
                <p><span class="text-strong">Customer:</span> ${customer_option}</p>
                <p><span class="text-strong">Payment Mode:</span> $$paymentMode{mode_payment}</p>
                <p><span class="text-strong">Amount:</span> ${amount}</p>
                <p><span class="text-strong">Reference:</span> ${reference}</p>
            </div>

        </div>
        
    </div>
   
</div>