<div class="page grey-200">
    
    <div class="list white" id="formBranchSearch">
        <div class="item icon ion-search">
          <input type="text" id="brsearch" placeholder="Enter Branch..." onkeyup='autochangedbr()'>
        </div>
  </div>
  <div class="hidden" id="listBranch" style="overflow-y:scroll;height:90%;">
    <div class="list" data="branchArraySearch">
      <div class="item" onclick="getBranch('${br_name}')">
        <h3>${br_name}</h3>
      </div>
    </div>
  </div>
</div>