<div class="page">
  <div class="header red">
    <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
    </div> 
      <h1>Target Dashboard</h1>
  </div>
  <!--<div class="header sub blue-grey-900 align-center">
    <button class="left icon ion-ios-arrow-left text-blue"></button>
    <h1 class="text-blue" id="tdsubheader">July 20, 2017</h1>
    <button class="right icon ion-ios-arrow-right text-blue"></button>
  </div> -->
  <div class="content has-header padding">
    <br>
    <div class="list" id="frmSummaryDashboard">
        <div class="item label-fixed">
          <label class="text-blue" >CATEGORY</label>
          <select class="text-blue" name="dtarget_category" id="dtarget_category" onchange="categoryChange()">
          </select>
        </div>
    
    <br>
    <div class="row"> 
      <div class="col align-center">
        <h1 class="text-strong text-big" id="tsalessummarydiff">0</h1>
        <p id="tsalessummarydiffLBL">Difference (Kg)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <h1 class="text-strong" id="tsummary">0</h1>
        <p id="tsummaryLBL">Target (Kg)</p>
      </div>
      <div class="col align-center">
        <h1 class="text-strong" id="tsalessummary">0</h1>
        <p id="tsalessummaryLBL">Sales (Kg)</p>
      </div>
      <div class="col-25">
        <h1 class="text-strong" id="ttotalsummary">0</h1>
        <p id="ttotalsummaryLBL">Sales (Kes)</p>
      </div>
    </div>
    

    </div>
    </style>
    <div class="chartist-blue text-black" id="chartist-strauss"></div>

    <div class="list" style="height:45%;overflow-y: scroll;">
      <div class="item tleft" data="salesSummaryArr">
        <h2>${description}</h2>
        <p>Cost: ${quantity} x ${unit_price}</p>
        <p>Weight: ${quantity} x ${material_weight}</p>
        <span class="right text-strong text-small" style="text-align: right;">$$calcTotalSales{quantity,${unit_price}} <br> $$calcTotalWeight{quantity,${material_weight}}</span>
      </div>
    </div>

  </div>
</div>