<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Task Report</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmTaskReport">
            <div class="item">
                <h2>Select All Users</h2>
                <div class="right">
                  <input type="checkbox" id="alltuserschecker" class="switch green" onchange="onchangeTargetView()">
                </div>
            </div>
             <div class="item label-fixed">
                <label>Salesperson<span style="color:red;">*</span></label>
                <!-- <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="alertCustomerForm()"> -->
                <input type="text" id="saleperson_option" name="saleperson_option" placeholder="Select Salesperson" onclick="openPage('searchSalesperson')">
                <input type="hidden" id="saleperson_option_id" name="saleperson_option_id">
            </div>
            <div class="item label-fixed">
                <label>Status<span style="color:red;">*</span></label>
                <select name="task_status" id="task_status">
                    <option value="1">All</option>
                    <option value="2">Pending</option>
                    <option value="3">Complete</option>
                </select>
            </div>
            <div class="item label-fixed">
                <label>Start Date<span style="color:red;">*</span></label>
                <input type="text" class="selectDefDate1" id="start_date" name="start_date" placeholder="Start Date" onclick="selectDefDate1()">
            </div>
            <div class="item label-fixed">
                <label>End Date<span style="color:red;">*</span></label> 
                <input type="text" class="selectDefDate2" id="end_date" name="end_date" placeholder="End Date" onclick="selectDefDate2()">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" id="gentaskrepbtn" onclick="generateTaskReport()">Generate</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:42%;overflow-y: scroll;">
            <div class="item tleft"  data="taskReportArray">
                <p><span class="text-strong">Created On:</span> ${server_date}</p>
                <p><span class="text-strong">Task Date:</span> ${task_date}</p>
                <p><span class="text-strong">Description:</span> ${task_description}</p>
                <p><span class="text-strong">User:</span> ${username}</p>
                <p><span class="text-strong">Status:</span> $$taskStatus{status}</p>
                <p><span class="text-strong">Comments:</span> ${task_comments}</p>
                <!--<div class="right align-right text-small">
                  <ul>
                    <li class="text-green text-strong">${bat}</li>
                  </ul>
                </div>-->
              </div>

        </div>
        
    </div>
</div>