<div class="page">
    <div class="header red">
        <div class="left">
        <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
        </div> 
        <h1 class="title align-center">Trips</h1>
    </div>
    <div class="content has-header">

        <div class="list" id="frmFetchTrips">
            
             <div class="item label-fixed">
                <label>Salesperson<span style="color:red;">*</span></label>
                <!-- <input type="text" id="customer_option" name="customer_option" placeholder="Select Customer" onclick="alertCustomerForm()"> -->
                <input type="text" id="saleperson_option" name="saleperson_option" placeholder="Select Salesperson" onclick="openPage('searchSalesperson')">
                <input type="hidden" id="saleperson_option_id" name="saleperson_option_id">
            </div>
            <div class="item label-fixed">
                <label>Trip Date<span style="color:red;">*</span></label>
                <input type="date" class="setdefdate" id="trip_date" name="trip_date" placeholder="Trip Date">
            </div>
            <div class="item label-fixed">
                <button class="red radius full" id="gettripsbtn" onclick="fetchTrips()">Get Trip</button>
            </div>
            
        </div>

        <div class="list grey-200 " style="height:50%;overflow-y: scroll;">
            <div class="item tleft" data="getTripsArray" >
              <p class="text-strong">${route_option}</p>
            </div>
        </div>
        
    </div>
</div>